@model InvoiceDetail

<form method="post" asp-controller="Invoice" asp-action="Edit">

    <div>
    <label asp-for="ItemName"></label>
    <input asp-for="ItemName" class="form-control" />
    </div>

    <div>
    <label asp-for="ItemCount"></label>
    <input asp-for="ItemCount" class="form-control"/>
    </div> 
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Invoice" asp-action="Index" class="btn btn-secondary" style="width:150px">
    Back To List
    </a>

</form>
